.tagContainer {
    display: block;
    background: white;
    border: 1px solid #DDD;
    padding: 3px;
    position: static;
    margin: 3px;
}



@sprite .addButton {
  gwt-image: 'addButton';
  margin: 3px;
  vertical-align: middle;
  display: inline-block;
}

.actionContainer {
    vertical-align: middle;
    overflow: hidden;
    display: inline-block;
    min-width: 40%;
    margin: 1px 4px;
    display: inline;
}

.addLabelContainer {
    cursor: pointer;
    margin-left: 2px;
    display: inline;
}

.actionContainerEditMode .addLabelContainer {
    display: none;
}

.addLabel {
  color: #36C;
  vertical-align: middle;
  cursor: pointer;
    display: inline;
}

.addInput {
   background: none;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: inherit;
    outline: 0;
    padding: 0;
    width: 2px;
    display: inline;
}